

@media screen and (min-width: 801px) {
    .NewEventPage {
        height: 100vh;
        width: 100vw;
        display: grid;
        align-items: center;
        justify-items: center;
        font-family: Aileron, sans-serif;
    }
    /* 
    
    input {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    } */
    #title-input {
        font-family: Aileron, sans-serif !important;
    }
    #date-input {
        width: 256px !important;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    }
    .title-input-wrapper {
        position: relative;
        width: 400px;
       
        /* margin: 2rem 0; */
    }
    .input-wrapper {
        position: relative;
        width:fit-content;
        display: inline-block;
        
    }
    .icon-label {
        align-self: center;
        justify-self: center;   
    }
    
    .description-label {
        align-self: start;
        justify-self: center;
    }
    .label-icon {
        color: #718096;  
        width: 1.25rem !important;
        height: 1.25rem !important;
    }
    
    .headline {
        display: inline-block;
        margin: 0 0 0rem 0;
        font-size: 2rem;
        color: #1a202c;
        font-weight: bold;
        font-family: Aileron, sans-serif;
    
    }
    .title-input, .date-input {
        font-size: 1.5rem;
    
        border: none;
        color: #1a202c;
        width: 400px;
        border-bottom: 1px solid  #cbd5e0;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        background: rgba(237, 242, 247, 0);
        transition: background 0.2s;
        transition-timing-function: ease-out;
    }
    
    .date-time-input {
        font-size: 1.5rem;
    
        border: none;
        color: #1a202c;
        width: auto;
        font-size: 1rem;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
        /* border: none; */
        border-bottom: 1px solid  #cbd5e0;
        background: rgba(237, 242, 247, 0);
        transition: background 0.2s;
        transition-timing-function: ease-out;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        display: inline-block;
    }
    
    .date-input {
        font-size: 1rem;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
        border: none;
        background: rgba(237, 242, 247, 0);
        transition: background 0.2s;
        transition-timing-function: ease-out;
    }
    
    .date-input:hover, .date-time-input:hover, .title-input:hover {
        background: rgba(237, 242, 247, 1);
        cursor: text;
    }
    
    .date-input:focus, .date-time-input:focus, .title-input:focus{
        background: rgba(237, 242, 247, 1);
    }
    .input-bottom-border {
        position: absolute;
        top: calc(100% - 2px);
        background:   #cbd5e0;
        width: 0px;
        height: 0px;
        transition: width 0.2s;
        transition-timing-function: ease-out;
    }
    
    .input-bottom-border.focused {
        background: #805ad5;
        height: 3px;
        width: 100%;
    }
    .title-input:focus, .date-input:focus, .date-time-input {
        outline: none;
    }
    
    .start-time-input, .end-time-input {
        width: 100px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;;
    }
    .date-time-input:focus {
        background: rgba(237, 242, 247, 1);
    }
    .NewEventPage .main-page-container {
        background: #fff;
        padding: 4rem;
        width: 600px;
        border-radius: 0.25rem;
    }
    
    .date-input-container {
        display: grid;
        /* grid-auto-columns: auto;
        grid-auto-rows: auto; */
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        column-gap: 2rem;
        row-gap: 2rem;
    }
    
    
    
    
    .description-textarea {
        width: 100%;
        border: 1px solid  #cbd5e0;
        border-radius: 0.25rem;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
        font-size: 1rem;
        padding: 0.25rem;
    }
    
    .description-textarea:focus {
        outline: 3px solid #805ad5;
        border: 1px solid #fff;
    }
    
    .submit-btn {
        border: none;
        border-radius: 0.25rem;
        padding: 0.75rem 2rem;
        color: #fff;
        background: #805ad5;
    
        font-weight: bold;
        font-size: 1rem;
        font-family: Aileron, sans-serif;
    }
    .submit-btn:hover {
        cursor: pointer;
    }
    .checkbox-ss {
        display: inline-block;
        align-self: center;
        width: 1rem;
        height: 1rem;
        margin-left: 2rem;
        border: 2px solid #805ad5;
        margin-left: auto;
        vertical-align: 0;
        border-radius: 0.375rem;
        padding: 0.0625rem;
        cursor: pointer;
        display: flex;
        color: #fff;
        align-items: center;
        justify-self: flex-end;
      
    }
    
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #718096;
        opacity: 1; /* Firefox */
      }
    .checkbox-ss.active {
        background: #805ad5;
    }
    
    .checkbox-ss .icon {
        width: 1rem;
        height: 1rem;
        vertical-align: 0;
    
    }
    
    .all-day-text {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
        font-size: 1rem;
        margin-left: 0.5rem;
        display: inline-block;
        justify-self: flex-end;
    }
    
    .time-input-label {
        position: absolute;
        top: -1.25rem;
        left: 0;
        font-size: 0.75rem;
        color:  #718096;
        font-weight: bold;
    }

    .time-input-container {
        display: flex; 
        width: 400px; 
        align-items: center;
        justify-content:flex-start;
    }

    .row-1 {
        grid-row: 1;
    }
    
    .row-2 {
        grid-row: 2;
    }
    
    .row-3 {
        grid-row: 3;
    }
    
    .row-4 {
        grid-row: 4;
    }
    .row-5 {
        grid-row: 5;
    }
    
    .row-6 {
        grid-row: 6;
    }
    .col-1 {
        grid-column: 1;
    }
    
    .col-2 {
        grid-column: 2;
    }
    
    .col-3 {
        grid-column: 3;
    }
    .col-4 {
        grid-column: 4;
    }
    
    .col-5 {
        grid-column: 5;
    }
}



/* Mobile Styles */
@media screen and (max-width: 800px) {
    .NewEventPage {
        background: #e2e8f0;
        width: 100vw;
        height: 100vh;
        padding: 2rem 0;
        overflow: hidden;
    }
    .main-page-container {
        background: #fff;
        margin: 0 2rem;
    }

    .date-input-container {

    }


    .title-input, .date-input {
        font-size: 1.5rem;
    
        border: none;
        color: #1a202c;
        width: 400px;
        border-bottom: 1px solid  #cbd5e0;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        background: rgba(237, 242, 247, 0);
        transition: background 0.2s;
        transition-timing-function: ease-out;
    }

    .date-input {
        font-size: 1rem;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
        border: none;
        background: rgba(237, 242, 247, 0);
        transition: background 0.2s;
        transition-timing-function: ease-out;
    }
    
    .date-input:hover, .date-time-input:hover, .title-input:hover {
        background: rgba(237, 242, 247, 1);
        cursor: text;
    }
    
    .date-input:focus, .date-time-input:focus, .title-input:focus{
        background: rgba(237, 242, 247, 1);
    }

    .input-bottom-border {
        position: absolute;
        top: calc(100% - 2px);
        background:   #cbd5e0;
        width: 0px;
        height: 0px;
        transition: width 0.2s;
        transition-timing-function: ease-out;
    }
    
    .input-bottom-border.focused {
        background: #805ad5;
        height: 3px;
        width: 100%;
    }
    .title-input:focus, .date-input:focus, .date-time-input {
        outline: none;
    }
    
    .NewEventPage .headline {
        margin: 0;
    }
    #title-input {
        width: calc(100% - 4rem);
        margin: 0 auto;
        display: block;
    }
    .row-1 {
        grid-row: 1;
    }
    
    .row-2 {
        grid-row: 2;
    }
    
    .row-3 {
        grid-row: 3;
    }
    
    .row-4 {
        grid-row: 4;
    }
    .row-5 {
        grid-row: 5;
    }
    
    .row-6 {
        grid-row: 6;
    }
    .col-1 {
        grid-column: 1;
    }
    
    .col-2 {
        grid-column: 2;
    }
    
    .col-3 {
        grid-column: 3;
    }
    .col-4 {
        grid-column: 4;
    }
    
    .col-5 {
        grid-column: 5;
    }
}
